<p id="notice"><%= notice %></p>

<h2>
  <%= @list.title %>

  <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#list-modal">
    <i class="glyphicon glyphicon-pencil"></i>
  </button>
</h2>

<% if @list.errors.any? %>
  <script>
    $(window).load(function(){
        $('#list-modal').modal('show');
    });
  </script>
<% end %>
<div class="modal fade in" id="list-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for(@list) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit List Name</h4>
        </div>
        <div class="modal-body">
          <%= f.input :title %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <label>This list was created</label>
  </div>

  <div class="col-sm-3">
    <label>Last modified</label>
  </div>

  <div class="col-sm-6">
    <label>Link to this list</label>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <p><%= @list.created_at.to_formatted_s(:long) %></p>
  </div>

  <div class="col-sm-3">
    <p><%= @list.updated_at.to_formatted_s(:long) %></p>
  </div>

  <div class="col-sm-6">
    <code><%= link_to @slug_link %></code>
  </div>
</div>


<h3>Tasks</h3>

<div>
  <% unless @tasks.empty? %>
    <% @tasks.each do |task| %>
      <% unless task.state.expired? %>
        <div>
          <%= render 'tasks/task', task: task %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h2>There are no tasks in this list</h2>
  <% end %>
</div>

<div>
  <%= link_to 'New Simple Task', new_list_task_path(@list, type: 'SimpleTask'), class: 'btn btn-default' %>
  <%= link_to 'New Long Task', new_list_task_path(@list, type: 'LongTask'), class: 'btn btn-default' %>
  <%= link_to 'New Temporary Task', new_list_task_path(@list, type: 'TemporaryTask'), class: 'btn btn-default' %>
</div>

<%= link_to 'Back', lists_path, class: 'btn btn-default'  %>
