<lablel><%= task.type.titleize %></lablel>

<label>State</label>
<p><%= task.state.name %></p>

<label>Priority</label>
<p><%= task.priority.name %></p>

<label>Description</label>
<p><%= task.description %></p>

<%= render "tasks/#{task.partial_name}", task: task %>

<%= link_to 'Edit Task', edit_list_task_path(@list, task) %>
