<div class="panel panel-<%= task.state.finished? ? 'default' : 'primary' %>">
  <div class="panel-heading">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-<%= task.id %>">
        <i class="glyphicon glyphicon-pencil"></i>
      </button>
    </div>

    <h4>
      <%= task.description %>
    </h4>
  </div>

  <div class="panel-body">
    <div >
      <label>Priority</label>
      <p><%= task.priority.name.humanize %></p>

      <label>State</label>
      <p><%= task.state.name.humanize %></p>

      <label>Type</label>
      <p><%= task.type.titleize %></p>

      <%= render "tasks/#{task.partial_name}", task: task %>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-<%= task.id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for([task.list, task.becomes(Task)], url: list_task_path(task.list, task)) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit <%= task.type.titleize %></h4>
        </div>
        <div class="modal-body">
            <%= render 'tasks/edit_form', form: f, task: task, type: task.type, show_state_select: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
