<div class="panel panel-<%= task.state.finished? ? 'default' : 'primary' %>">
  <div class="panel-heading">
    <div class="btn-group pull-right">
      <%= link_to edit_list_task_path(@list, task), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
    </div>

    <h4>
      <%= task.description %>
    </h4>
  </div>

  <div class="panel-body">
    <div >
      <label>State</label>
      <p><%= task.state.name.capitalize %></p>

      <label>Priority</label>
      <p><%= task.priority.name.capitalize %></p>

      <label>Type</label>
      <p><%= task.type.titleize %></p>

      <%= render "tasks/#{task.partial_name}", task: task %>
    </div>

  </div>
</div>
